.post02OuterContainer {
  border: 1px solid var(--grey);
  border-radius: 3px;
  margin: 25px auto;
  max-height: 868px;
  max-width: 614px;
  width: 100%;
}

.post02TopContainer {
  align-items: center;
  display: flex;
  height: 61px;
  padding: 0 16px;
  width: 100%;
}

.post02TopContainer
a {
  align-items: center;
  color: var(--black);
  display: flex;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.post02TopContainer
a:hover {
  text-decoration: underline;
}

.post02UserPhoto {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.post02UserDetailsContainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 16px;
}

.post02UserDetailsContainer {
  flex: 0 0 100%;
}

.post02TopContainer
svg {
  cursor: pointer;
  margin-left: auto;
}

.post02MiddleContainer {
  height: 614px;
  position: relative;
}

.post02Like {
  background: url("https://imgur.com/rksyGE8.png") no-repeat center/contain;
  bottom: 0;
  height: 162px;
  position: absolute;
  left: 0;
  margin: auto;
  opacity: 0;
  top: 0;
  transform: scale(0);
  right: 0;
  width: 184px;
}

.post02LikeAnimation {
  animation-duration: 1500ms;
  animation-name: likeAnimation;
  animation-timing-function: ease-in-out;
}

.post02MiddleContainer
img {
  display: none;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.post02BottomContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.post02CtaContainer {
  align-items: center;
  display: flex;
  flex: 0 0 100%;
  height: 40px;
  padding: 0 8px;
  width: 100%;
}

.post02CtaContainer
svg {
  cursor: pointer;
  height: 40px;
  padding: 8px;
  width: 40px;
}

.post02CtaContainer
svg:last-of-type {
  margin-left: auto;
}

.post02LikeCounter {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  padding-left: 16px;
}

.post02CommentContainer {
  align-items: center;
  border-top: 1px solid var(--grey);
  display: flex;
  height: 56px;
  margin-top: 10px;
  padding: 8px;
  width: 100%;
}

.post02CommentContainer
svg {
  height: 40px;
  padding: 8px;
  width: 40px;
}

.post02CommentContainer
p {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.6;
  padding-left: 8px;
}

.post02CommentContainer
p:last-of-type {
  margin-left: auto;
  opacity: 1;
  padding-right: 8px;
}

@keyframes likeAnimation {
  0% { 
    opacity: 0; 
    transform: scale(0); 
  }
  15% { 
    opacity: 0.9; 
    transform: scale(1.2); 
  }
  30% {
    transform:scale(0.95); 
  }
  45%,
  80% {
    opacity: 0.9; 
    transform: scale(1); 
  }
}

@media (max-width: 576px) {
  .post02OuterContainer {
    border: 1px solid var(--white);
    max-width: 576px;
  }
}
