.postList03PostContainer {
  flex: 0 0 100%;
}

.postList03LoaderContainer {
  display: flex;
  flex: 0 0 100%;
  justify-content: center;
}

.postList03LoaderContainer
svg {
  animation: loadingAnimation infinite 1s linear;
  height: 25px;
  margin: 20px auto;
  width: 25px;
}

@keyframes loadingAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
