:root {
  --black: rgb(38, 38, 38);
  --grid-black: rgb(0, 0, 0, 0.3);
  --white: #ffffff;
  --primary-blue: #0095f6;
  --background-grey: rgb(250, 250, 250);
  --grey: #dbdbdb;
  --text-grey: rgb(142, 142, 142);
}

* {
  box-sizing: border-box;
}

.PrimaryButton {
  background-color: var(--primary-blue);
  border: 0;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
}

.PrimaryLink {
  color: var(--primary-blue);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.SecondaryButton {
  background-color: var(--white);
  border: 1px solid var(--grey);
  border-radius: 4px;
  color: var(--black);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px;
}

.ErrorMessage {
  font-size: 16px;
  font-weight: 500;
  padding-top: 20%;
  text-align: center;
}
