* {
  box-sizing: border-box;
}

html {
  --black: rgb(38, 38, 38);
  --white: #ffffff;
  --primary-blue: #0095f6;
  --theme-white: #ffffff;
  --theme-black: rgb(38, 38, 38);
  --theme-background-white: #ffffff;
  --theme-grey: #dbdbdb;
  --theme-background-grey: rgb(250, 250, 250);
  --grid-black: rgb(0, 0, 0, 0.3);
  --text-grey: rgb(142, 142, 142);
}

html[data-theme = 'dark'] {
  --black: rgb(38, 38, 38);
  --white: #ffffff;
  --primary-blue: #0095f6;
  --theme-white: #000000;
  --theme-black: #ffffff;
  --theme-background-white: rgb(18, 18, 18);
  --theme-grey: rgb(54, 54, 54);
  --theme-background-grey: rgb(18, 18, 18);
}

.PrimaryButton {
  background-color: var(--primary-blue);
  border: 0;
  border-radius: 4px;
  color: var(--white);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
}

.PrimaryLink {
  color: var(--primary-blue);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.SecondaryButton {
  background-color: var(--theme-white);
  border: 1px solid var(--theme-grey);
  border-radius: 4px;
  color: var(--theme-black);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px;
}

.ErrorMessage {
  color: var(--theme-black);
  font-size: 16px;
  font-weight: 500;
  padding-top: 20%;
  text-align: center;
}

.Tooltip {
  border-radius: 6px !important;
  font-weight: 500 !important;
  padding: 6px 12px !important;
}
